.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.cardTitles{
  color:yellow;
  font-size: 40px;
}
.cards{
  
  height:400px;
  width:300px;
  margin:20px;

}
.cardBody{
  background-color: black;
  opacity: .9;
  
  
}
.eyes, .height{
  color:#fff;

}